    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer ">
        <div class="container py-4">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start ">
                        &copy; <a class=" text-warning" routerLink="">{{title}}</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed In <a class="text-warning">2023</a><br><br>
                       
                    </div>
                    <div class="col-md-6 text-center text-md-end  ">
                       <span> Distributed By <a class="text-warning">Eman</a></span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Footer End -->
