<!-- <header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand">
        <img src="./assets/img/logo-wh.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Eman restaurant</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="list-restaurant">Mune</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-restaurant">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="update-restaurant">Update Booking</a>
          </li>



        </ul>
        <div class="d-flex">
          <button class="btn btn-success px-5" type="button" routerLink="login">Login</button>
          <button class="btn btn-danger px-5 ms-4" type="button" routerLink="register">Register</button>
        </div>
      </div>
    </div>
  </nav>
</header> -->

  <router-outlet></router-outlet>
